@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html {
    box-sizing: border-box;
  }

body {
    margin: 0;
    min-height: 100vh;
    background-color: #060910;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}

.main-container {
    background-color:#0E1218;
    border: 1px #30363d solid;
    border-radius: 6px;
    color: #ffffff;
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #5194DF; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

.location-container {
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
}

.fa-map-marker-alt,
    .location, 
    .weather-degree,
    .tempature {
    display: inline-block;
}

.tempature-container {
    font-size: 6em;
    display: block;
}

.weather-degree {
    font-size: 0.8em;
}

.forecast-container {
    font-size: 1.6em;
    display: block;
    padding: 5px;
}

.left-container {
    display: none;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.right-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 210px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.weather-icon-container {
    padding: 5px;
    height: 60%;
    width: 40%;
    margin-top: 20px;
}

.weather-icon {
    font-size: 10em;
}

.weather-degree:hover {
    filter: brightness(50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 1300px) {
    .main-container {
        width: 40vw;
        height: 40vh;
    }
    .right-container {
        width: 150px;
    }
    .weather-icon {
        font-size: 8em;
    }

    .location-container {
        font-size: 1.4em;
        display: block;
        margin-bottom: 10px;
    }
    
    
    .tempature-container {
        font-size: 5em;
        display: block;
    }
    
    .weather-degree {
        font-size: 0.7em;
    }
    
    .forecast-container {
        font-size: 1.1em;
        display: block;
        padding: 5px;
    }
}

@media screen and (max-width: 980px) {
    .main-container {
        width: 45vw;
        height: 40vh;
    }
    .right-container {
        width: 125px;
    }
    .weather-icon {
        font-size: 6em;
    }

    .location-container {
        font-size: 1.2em;
        display: block;
        margin-bottom: 10px;
    }
    
    
    .tempature-container {
        font-size: 3.5em;
        display: block;
    }
    
    .weather-degree {
        font-size: 0.7em;
    }
    
    .forecast-container {
        font-size: 1em;
        display: block;
        padding: 5px;
    }
}

@media screen and (max-width: 780px) {
    .main-container {
        width: 50vw;
        height: 40vh;
    }
    .right-container {
        width: 100px;
    }
    .weather-icon {
        font-size: 5em;
    }

    .location-container {
        font-size: 1em;
        display: block;
        margin-bottom: 10px;
    }
    
    
    .tempature-container {
        font-size: 2.5em;
        display: block;
    }
    
    .weather-degree {
        font-size: 0.7em;
    }
    
    .forecast-container {
        font-size: 1em;
        display: block;
        padding: 5px;
    }
}